a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #f4e0d5;
}

.w-10 {
    width: 10%;
}

.w-30 {
    width: 30%;
}

.mt-6 {
    margin-top: 6rem;
}

.mt-7 {
    margin-top: 7%;
}

.bg-dark-pink {
    background-color: #EFC7BF !important;
}

.bg-logo-color {
    background-color: #E5989B !important;
}

.bg-light-pink {
    background-color: #f4e0d5 !important;
}

.color-light-pink {
    color: #ffeee5 !important;
}

.color-logo {
    color: #dd7d81 !important;
}

.color-grey {
    color: #6D6875 !important;
}

.border-grey {
    border-color: #6d687554;
}

.roboto-medium {
    font-weight: 500;
    font-style: normal;
}

.bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: -1px;
}

