* {
    font-family: "Roboto", sans-serif;
    color: #6D6875 !important;
}

.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.placeholder::placeholder {
    color: #6D6875 !important;
}

.post {
    border: none;
}

/* Ajouter une séparation entre les cartes des posts */
.card.post:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    /* Ajoute une bordure supérieure */
    margin-top: 20px;
    /* Espacement entre les cartes */
}

.card {
    --bs-card-border-color: none;
    --bs-card-bg: none;
}

.param {
    border: none;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* la séparation entre les cartes */
.param+.param {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: -1px;
}

.modalStyle {
    display: none !important;
    position: fixed !important;
    z-index: 5 !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    overflow: auto !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.close {
    color: #aaa !important;
    float: right !important;
    font-size: 28px !important;
    font-weight: bold !important;
}

.close:hover,
.close:focus {
    color: black !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

.myModal-content {
    margin: auto;
    margin-top: 13%;
    max-width: 415px;
    width: 100%;
}

.loginModal {
    margin: auto;
    margin-top: 10%;
    max-width: 35rem;
    width: 100%;
}

.registerModal {
    margin: auto;
    max-width: 35rem;
    width: 100%;
}

#registration-card {
    margin-top: 3% !important;
    max-width: 35rem;
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}

.icon-post {
    font-size: 20px;
}

#commentaireModal {
    margin-top: 18vh;
}

#commentModal .comment-list {
    max-height: 300px;
    /* hauteur maximale */
    overflow-y: auto;
    /* barre de défilement verticale si besoin */
}

::-webkit-scrollbar {
    width: 10px;
    /* Largeur de la barre de défilement */
}

/* Style de la poignée de la barre de défilement */
::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Couleur de la poignée */
    border-radius: 5px;
    /* Coins arrondis */
}

/* Style de la piste de la barre de défilement */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Couleur de la piste */
    border-radius: 5px;
    /* Coins arrondis */
}

/* Désactiver le style de focus Bootstrap pour l'input de recherche */
#navbarSupportedContent input[type="search"]:focus {
    outline: none;
    box-shadow: none;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

/* CSS personnalisé */
.sidebar {
    height: 100vh;
    /* Hauteur maximale égale à la hauteur de la fenêtre */
    overflow-y: auto;
    /* Activation de la barre de défilement verticale si nécessaire */
}

.admin {
    height: 100vh;
    /* Hauteur maximale égale à la hauteur de la fenêtre */
    overflow-y: auto;
    /* Activation de la barre de défilement verticale si nécessaire */
}

.replies {
    display: none !important;
    /* Par défaut, masquer les réponses */
}

.replies.replies-visible {
    display: block !important;
    /* Afficher les réponses lorsque la classe replies-visible est présente */
}